<div class='center'>
  <%= image_tag 'hospice_beds.png', title: 'Logo', class: 'logo' %>
  <h2>Welcome to Hospice Beds!</h2>

  <p>This should have the HB logo as background</p>

  <h3><em><%= link_to 'View Open Beds', open_beds_path %> | <%= link_to 'Login', user_session_path, method: 'get' %><em></h3>
</div>