<h1>Open Beds</h1>

<div class='panel-group'>
  <ol>
    <% @open_beds.each do |bed| %>
      <li class = 'openBed'>
        <%= bed.hospice.name %>
        <%= bed.room_type.capitalize %>
        <%= bed.bed_type %>
        <%= bed.gender.capitalize %>
      </li>
    <% end %>
  </ol>
</div>
