
  <ol class='openBed'>
    <% @open_beds.each do |bed| %>
      <li>
        <%= bed.hospice.name %>

        <%if bed.gender.capitalize == "Female"%>
          <i class="fa fa-venus"></i>
        <%else%>
          <i class="fa fa-mars"></i>
        <%end%>
        
        <%= bed.room_type.capitalize %>
        <%= bed.bed_type %>
      </li>
    <% end %>
  </ol>
