<h1>Open Beds</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Hospice</th>
      <th>Room type</th>
      <th>Bed type</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <% @open_beds.each do |bed| %>
      <tr>
        <td><%= bed.hospice.name %></td>
        <td><%= bed.room_type.capitalize %></td>
        <td><%= bed.bed_type %></td>
        <td><%= bed.gender.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
