
  <ol class='openBed'>
    <% @open_beds.each do |bed| %>
      <li>
        <%= bed.hospice.name %>
        <%= bed.room_type.capitalize %>
        <%= bed.bed_type %>
        <%= bed.gender.capitalize %>
      </li>
    <% end %>
  </ol>
