<footer id="site-footer" data-turbolinks-permanent>
  <div class="row">
    <h6>
      <section class="pull-left">
        <%#= link_to 'Home', root_path, rel: 'prefetch' %> |
        <%#= link_to 'Legal ', legal_path %> |
        <%#= link_to 'Privacy Policy ', privacy_path %> |
        <%#= link_to 'Contact Us', contact_us_path %>
      </section>
    </h6>
    <section class="center">
      <h6><%= link_to 'Home', root_path, rel: 'prefetch' %> | Legal | Privacy Policy | Contact Us &nbsp; || &nbsp; &copy; 2016. HospiceBeds, LLC.  All rights reserved.</h6>
    </section>
  </div>
</footer>